<%- include('partials/header'); -%>
<h1>Home</h1>
<p><%= StartingContent %></p> 

<% posts.forEach(function(pst){ %>

<h1><%=pst.title%> </h1>
<p><%=pst.content.substring(0,100) +"..."%> 
<a href="/posts/<%=pst.title%>">Read more</a>
</p>
<% }); %>

<%- include('partials/footer'); -%>
